:root {
  --SoftRed: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --DarkBlue: hsl(198, 62%, 26%);
  --DarkCyan-900: hsl(167, 40%, 24%);
  --DarkCyan-800: hsl(168, 34%, 41%);
  --Dark-D-Blue: hsl(212, 27%, 19%);
  --Dark-G-Blue-900: hsl(213, 9%, 39%);
  --Dark-G-Blue-800: hsl(232, 10%, 55%);
  --Dark-G-Blue-700: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  --fs-900: 2.5rem;
  --fs-600: 1.125rem;
  --fs-400: 1rem;
  --ff-Fraunces: "Fraunces", serif;
  --ff-Barlow: "Barlow", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.wrap {
  height: 100vh;
  background: url(/images/desktop/image-header.jpg) center center no-repeat;
  background-size: cover;
}

@media (max-width: 48rem) {
  .wrap {
    background: url(/images/mobile/image-header.jpg) center center no-repeat;
    background-size: cover;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding-top: 2rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 48rem) {
  .nav-links {
    display: none;
  }
}

.nav-links li {
  cursor: pointer;
  font-family: var(--ff-Barlow);
  color: var(--White);
}

.nav-links li:not(last-child) {
  margin-right: 3rem;
}

.nav-links li.contact {
  font-family: var(--ff-Fraunces);
  color: var(--Dark-D-Blue);
  background-color: var(--White);
  text-transform: uppercase;
  padding: 1rem 1.875rem;
  margin: 0;
  border-radius: 1.875rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav-links li.contact:hover {
  color: var(--White);
  background-color: #70cffd;
}

.nav-mobile {
  display: none;
}

@media (max-width: 48rem) {
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-mobile.active .nav-links-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-mobile .nav-links-m {
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--White);
  font-family: var(--ff-Barlow);
  color: var(--Dark-G-Blue-800);
  list-style: none;
  padding: 2.1875rem 0;
  position: absolute;
  width: 95%;
  top: 6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav-mobile .nav-links-m::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  border-color: transparent var(--White) var(--White) transparent;
  border-style: solid;
  border-width: 15px;
}

.nav-mobile .nav-links-m li:not(last-child) {
  margin-bottom: 2.1875rem;
}

.nav-mobile .nav-links-m li.contact {
  font-family: var(--ff-Fraunces);
  color: var(--Dark-D-Blue);
  background-color: var(--Yellow);
  text-transform: uppercase;
  padding: 1rem 1.875rem;
  margin: 0;
  border-radius: 1.875rem;
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.5rem;
}

.showcase .show-header {
  font-family: var(--ff-Fraunces);
  font-size: 4rem;
  font-weight: 600;
  color: var(--White);
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
  margin-bottom: 100px;
}

@media (max-width: 48rem) {
  .showcase .show-header {
    font-size: 2.75rem;
    text-align: center;
  }
}

@media (max-width: 48rem) {
  .showcase .arrow {
    height: 150px;
  }
}

.trans-sec {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 48rem) {
  .trans-sec {
    text-align: center;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.trans-sec .trans-pargh {
  width: 40%;
  padding-left: 10%;
}

@media (max-width: 48rem) {
  .trans-sec .trans-pargh {
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 60px;
  }
}

.trans-sec .trans-pargh h3 {
  font-family: var(--ff-Fraunces);
  font-size: var(--fs-900);
  color: var(--Dark-D-Blue);
}

.trans-sec .trans-pargh p {
  font-size: var(--fs-600);
  font-family: var(--ff-Barlow);
  color: var(--Dark-G-Blue-800);
  line-height: 1.8;
  width: 80%;
  margin-bottom: 48px;
}

@media (max-width: 48rem) {
  .trans-sec .trans-pargh p {
    margin-left: auto;
    margin-right: auto;
  }
}

.trans-sec .trans-pargh a {
  position: relative;
  font-family: var(--ff-Fraunces);
  text-transform: uppercase;
  font-weight: 900;
  font-size: var(--fs-600);
  color: var(--Dark-D-Blue);
  margin-top: 40px;
  text-decoration: none;
}

.trans-sec .trans-pargh a::before {
  content: "";
  position: absolute;
  width: 115%;
  height: 0.625rem;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--Yellow);
  border-radius: 30px;
  opacity: 0.2;
  z-index: -1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.trans-sec .trans-pargh a:hover::before {
  opacity: 1;
}

.trans-sec .trans-pic {
  width: 50%;
  height: 100%;
  background: url(/images/desktop/image-transform.jpg) no-repeat center;
  background-size: cover;
}

@media (max-width: 48rem) {
  .trans-sec .trans-pic {
    width: 100%;
    height: 500px;
    background: url(/images/mobile/image-transform.jpg) no-repeat center;
  }
}

.stand-sec {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 48rem) {
  .stand-sec {
    text-align: center;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.stand-sec .stand-pargh {
  width: 40%;
  padding-left: 10%;
}

@media (max-width: 48rem) {
  .stand-sec .stand-pargh {
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 60px;
  }
}

.stand-sec .stand-pargh h3 {
  font-family: var(--ff-Fraunces);
  font-size: var(--fs-900);
  color: var(--Dark-D-Blue);
}

.stand-sec .stand-pargh p {
  font-size: var(--fs-600);
  font-family: var(--ff-Barlow);
  color: var(--Dark-G-Blue-800);
  line-height: 1.8;
  width: 80%;
  margin-bottom: 48px;
}

@media (max-width: 48rem) {
  .stand-sec .stand-pargh p {
    margin-left: auto;
    margin-right: auto;
  }
}

.stand-sec .stand-pargh a {
  position: relative;
  font-family: var(--ff-Fraunces);
  text-transform: uppercase;
  font-weight: 900;
  font-size: var(--fs-600);
  color: var(--Dark-D-Blue);
  margin-top: 40px;
  text-decoration: none;
}

.stand-sec .stand-pargh a::before {
  content: "";
  position: absolute;
  width: 115%;
  height: 0.625rem;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--SoftRed);
  border-radius: 30px;
  opacity: 0.2;
  z-index: -1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.stand-sec .stand-pargh a:hover::before {
  opacity: 1;
}

.stand-sec .stand-pic {
  width: 50%;
  height: 100%;
  background: url(/images/desktop/image-stand-out.jpg) no-repeat center;
  background-size: cover;
}

@media (max-width: 48rem) {
  .stand-sec .stand-pic {
    width: 100%;
    height: 500px;
    background: url(/images/mobile/image-stand-out.jpg) no-repeat center;
  }
}

.graphic-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75vh;
  text-align: center;
}

@media (max-width: 48rem) {
  .graphic-photo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 180vh;
  }
}

.graphic-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  background: url(/images/desktop/image-graphic-design.jpg) no-repeat center center;
  background-size: cover;
}

@media (max-width: 48rem) {
  .graphic-sec {
    width: 100%;
    background: url(/images/mobile/image-graphic-design.jpg) no-repeat center center;
    background-size: cover;
  }
}

.graphic-sec .graphic-paragh {
  margin-bottom: 3.75rem;
  color: var(--DarkBlue);
}

.graphic-sec .graphic-paragh h4 {
  font-size: 2rem;
  font-family: var(--ff-Fraunces);
  margin: 2.25rem 0;
}

.graphic-sec .graphic-paragh p {
  font-family: var(--ff-Barlow);
  margin: 0 auto;
  line-height: 1.5;
}

.photo-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  background: url(/images/desktop/image-photography.jpg) no-repeat center;
  background-size: cover;
}

@media (max-width: 48rem) {
  .photo-sec {
    width: 100%;
    background: url(/images/mobile/image-photography.jpg) no-repeat center;
    background-size: cover;
  }
}

.photo-sec .photo-paragh {
  margin-bottom: 3.75rem;
  color: var(--DarkCyan-900);
}

.photo-sec .photo-paragh h4 {
  font-size: 2rem;
  font-family: var(--ff-Fraunces);
  margin: 2.25rem 0;
}

.photo-sec .photo-paragh p {
  font-family: var(--ff-Barlow);
  margin: 0 auto;
  line-height: 1.5;
}

.client-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: calc(90vh - 18.75rem);
  margin: 9.375rem auto;
  text-align: center;
}

@media (max-width: 48rem) {
  .client-t {
    height: auto;
    margin: 3rem auto;
  }
}

.client-t .header {
  font-family: var(--ff-Fraunces);
  font-size: 20px;
  color: var(--Dark-G-Blue-700);
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.client-t .testis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 48rem) {
  .client-t .testis {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.client-t .testis .testi-comnt:not(last-child) {
  margin-bottom: 3rem;
}

.client-t .testis .testi-comnt img {
  width: 4.375rem;
  border-radius: 3.125rem;
  margin-bottom: 3rem;
}

.client-t .testis .testi-comnt .par {
  font-family: var(--ff-Barlow);
  color: var(--Dark-G-Blue-900);
  line-height: 1.5;
  width: 90%;
  margin: 0 auto 3rem;
}

.client-t .testis .testi-comnt .signature h5 {
  font-family: var(--ff-Fraunces);
  font-size: var(--fs-600);
  font-weight: 900;
  margin-bottom: 0;
}

.client-t .testis .testi-comnt .signature p {
  font-family: var(--ff-Barlow);
  color: var(--Dark-G-Blue-700);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.gallery .gal-img {
  width: 25%;
}

@media (max-width: 48rem) {
  .gallery .gal-img {
    width: 50%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #9dd2c5;
  padding: 3rem 0;
  height: 25vh;
}

.footer .logo {
  margin-bottom: 0rem;
}

.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--ff-Barlow);
  color: var(--DarkCyan-800);
  list-style: none;
  padding: 0;
}

.footer .footer-links li {
  margin: 0 1rem;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer .footer-links li:hover {
  color: var(--White);
}

.footer .social img {
  margin: 0 0.5rem;
}
/*# sourceMappingURL=style.css.map */